[Unit]
Description=OctoPrint Docker Compose deployment
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dudeofawesome/Github/docker-compose-octoprint
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down
Restart=no
User=dudeofawesome

[Install]
WantedBy=multi-user.target

